.title {
    display: flex;
    height: 100px;
    /* background: pink; */
    justify-content: center;
    /* position: bl; */
    font-size: 30px;
    align-items: center;
}

body {
    background-image: url("/images/bg-top.svg"),url('/images/bg-bottom.svg');
    background-position: right top, left bottom;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 50px;
    font-family: Montserrat ;
    background-color:  hsl(240, 78%, 98%);
    
  }

.charts {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 5px;
    justify-content: center;
    /* justify-content: space-evenly; */
    align-items:center; 
  } 

.card1, .card2, .card3 {
    height: 450px;
    width: 300px;
    background:white;
    box-shadow: 10px;
    border-radius: 10px;
}


    .items {
        display: flex;
        flex-wrap: wrap;
        font-size: 15px;
        font-weight: bold;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
    }

.amount {
    font-size: 3.5rem;

}

.btn{
    /* background:hsl(237, 63%, 64%); */
    color: white;
    padding:10px 65px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%) , hsl(237, 63%, 64%));

}

hr {
    border: 0.04px solid rgb(211,209,209);
    /* border: 0.04px; */
    width: 200px;
  }



.card1:hover, .card2:hover,.card3:hover {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    transform: scale(1.05);
    color: white;
}
.card1:hover .btn , .card2:hover .btn ,.card3:hover .btn{
    background-image:linear-gradient(90deg , white,white) ;
    color: hsl(237, 63%, 64%);
    cursor: pointer;
}

/* Toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
.toggle {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    align-items: center;

}
p {
    padding-left: 20px;
    padding-right: 20px;
    Font-size: 15px

}